h1{
    text-align: center;
    margin: 0 0 20px 0;
}

h2{
    font-size: 131%;
    margin: 0 0 20px 0;
    padding: 5px 0 5px 10px;
    border-bottom: 2px solid #eeeeee;
}
h3{
    font-size: 131%;
    margin: 15px 0 15px 0;
    padding: 5px 0 5px 10px;
    border-left: 20px solid #e0e0e0;
}
p{
    line-height: 1.5em;
    font-size: 131%;
}
#contents div{
    margin: 0 0 30px 0;
}

ul{
    margin: 20px 0 20px 20px;
}
li{
    line-height: 1.5em;
    font-size: 123.1%;
}
ul.menu{
    list-style: none;
}

pre{
    margin: 20px 0 20px 0px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.to_top{
    text-align: right;
}

